body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#pdfPage {
  
  margin: 100px;
  text-align: center;

}

#reactPdf, #reactPdfViewer {

  border: solid 1px;
  border-radius: 8px;
  margin: 10px;

  width: 100%;

}

#reactPdfViewer { 

  height: 1200px;

}


#reactPdfButtons { 

  padding: 30px;

}

#reactPdfHeading, #reactPdfViewerHeading {

  margin-top: 30px;
  margin-bottom: 30px;

}








